appnope==0.1.2
asttokens==2.0.5
backcall==0.2.0
certifi==2021.10.8
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
fooof @ file:///home/conda/feedstock_root/build_artifacts/fooof_1594723356742/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1647210458680/work
ipykernel==6.9.2
ipython==8.1.1
jedi==0.18.1
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1647351577886/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-base_1594091691585/work
matplotlib-inline==0.1.3
mccabe==0.6.1
mne @ file:///home/conda/feedstock_root/build_artifacts/mne-python_1632324826483/work
munkres==1.1.4
nest-asyncio==1.5.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1646717246420/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments==2.11.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1636139902075/work
pyzmq==22.3.0
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357379895/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data==0.2.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819838703/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1646031859244/work
traitlets==5.1.1
wcwidth==0.2.5
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
